	
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: var( --font-article16);
}

body {
  font-family: var(--font-comfortaa);
  line-height: 1.6;
  background-color: var(#white);
}

h1, h2 {
  
  font-weight: lighter;
  line-height: 1.1;

}

h1 {
  font-size: var(--title-xxl);font-family:  var(--font-comfortaa);
  font-family:  var(--font-comfortaa);
}

h2 {
  font-size: 2rem;
  font-family:  var(--font-comfortaa);
}

h3 {
  line-height: 1.4;
  font-family:  var(--font-comfortaa);
}
.texte__align {
  margin-left:20px;
  margin-right:20px;
  display: flex;

}

p {
  font-family: var(--font-comfortaa);

}

.reflet{
  position: flex;
  margin-top: 500px;
}


.a{
  color: aliceblue;
  text-decoration: none;
}