

  .words {
    margin-top: 80px;
    display: flex;
    width: 100vw;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    font-family: var(--font-comfortaa);
    line-height: 1;
    letter-spacing: 15px;
    justify-content: center;
  }

  .words span {
    font-size: 2rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  

  .sources{
      position:absolute;
      top: 20px;
      left: 20px;
      font-size: 12px;
      font-family: var(--font-comfortaa);
  }

  .text-info{
      position: absolute;
      bottom: 1000px;
  }

  .credits1{
    font-family: var(--font-comfortaa);
    font-size: 1.5rem;
    text-align: center
  }


  .credits2{
    font-family: var(--font-comfortaa);
    font-size: 1.3rem;
    justify-content: center;
    text-align: center;
  }

  .credits3{
    font-family: var(--font-comfortaa);
    font-size: 1.3rem;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
 